@import "tailwindcss";

@theme {
  /* Couleurs */
  --color-main: #ae90e9;
  --color-bg: #1e1e2c;
  --color-bg-second: #212135;

  /* Typographie */
  --font-title: "Merriweather", serif;
  --font-body: "Lato", sans-serif;

  --text-h1: 7rem;
  --text-h2: 5rem;
  --text-h3: 3rem
  --text-body: 2rem;
  --text-logo: 1.8rem;
  --text-btn: 1.6rem;
  --text-nav: 1rem;

  /* Shadows */
  --shadow-glow: 0 0 25px var(--color-main);
  --shadow-glow-lg: 0 0 50px var(--color-main);
  --shadow-glow-xl: 0 0 100px var(--color-main);
}